@font-face {
  font-family: "Main font";
  src: url("../assets/fonts/Inter-VariableFont_slnt,wght.ttf")
    format("truetype");
}

* {
  font-family: "Main font";
}

body {
  background-image: url("../assets/back.svg");
  background-size: cover;
  color: black;
}

.main{
  background-color: rgba(255, 255, 255, .5);
  width: 50%;
  border-radius: 15px;
  padding: 10px;
  margin: auto;
}

h1{
  margin: auto;
  width: fit-content;
}

h3{
  padding: 0px;
  text-transform: capitalize;
}


.nav{
  position: fixed;
  left: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
button#back {
    
    background-size: cover;
    border: none;
    background-repeat: no-repeat;
    transition: transform 0.2s;
    background-image: url("../assets/retour.svg");
    width: 220px;
    height: 90px;
    border-radius: 15px;
}

button:hover {
    transform: scale(1.1);
}